
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&family');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Alkatra', cursive; 
    min-height: 100vh;   
    background-color: rgb(241, 225, 241);
 
}
.navbar {
    font-size: 1.5rem;
    background-color: rgb(235, 201, 235);
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-one {
    padding: 50px 25px;
}
.about-me {
    padding-bottom: 25px;
}

.section-two {
    height: 30px;
    padding: 10px 25px;
    display: flex;
    text-align: center;
   
}
.list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 30px;
    margin-left: 15px;
    margin-top: 10px;
}
.h1 {
    padding-left: 25px;
    margin-top: 25px;
}
.projects {
    padding-left: 25px;
    margin-top: 25px;
    display: flex;
    width: 450px;
    gap: 75px;
    margin-left: 125px;
    text-align: center;
  
}
.section4 {
    margin: 50px 150px ;
}

footer.elly {
    display: flex;
    justify-content: center;
    color: rgb(75, 10, 75);
}

.input {
    width: 250px;
    height: 40px;
    
}
.contact-details {
    gap: 25px;
}